$breadcrumb-prefix-cls: "vc-breadcrumb";

  .#{$breadcrumb-prefix-cls} {
    color: #999;
    font-size: 16px;

    a {
        color: #657180;
        transition: color .2s ease-in-out;
        &:hover {
            color: #39f;
        }
    }

    & > span:last-child {
        font-weight: bold;
        color: #657180;
    }

    & > span:last-child &-item-separator {
        display: none;
    }

    &-item-separator {
        margin: 0 8px;
        color: #d7dde4;
    }

    &-item-link {
        > .ivu-icon + span {
            margin-left: 4px;
        }
    }
}