$prefix-menu: $prefix + '-menu';

.#{$prefix-menu} {
  user-select: none;
  &-item{
    display: block;
    line-height: 40px;
  }
  &-group{
    &-title{
      color: #ccc;
    }
  }
}

.#{$prefix}-sub-menu {
  &-title{
    color: #ccc;
  }
}