$prefix-menu: $prefix + '-menu';

.#{$prefix-menu} {
  user-select: none;
}

.#{$prefix-menu}__item {
  line-height: 40px;
  cursor: default;
  
  &.is-router {
    cursor: pointer;
  }

  &.is-active {

  }
}

.#{$prefix-menu}-item-group {

  &:not(:first-child) {
    margin-top: 16px;
  }

  &__title {
    margin-bottom: 16px;
  }
}