$prefix-menu: $prefix + '-menu';

.#{$prefix-menu} {
  user-select: none;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.#{$prefix-menu}__item {
  padding: 0 1em;
  line-height: 40px;
  cursor: default;

  &.is-router {
    cursor: pointer;
  }

  &.is-active {

  }
}

.#{$prefix-menu}-item-group {
  &:not(:first-child) {
    margin-top: 16px;
  }

  &__title {
    padding: 0 1em;
    margin-bottom: 1em;
  }
}

.#{$prefix}-sub-menu {

  &__title {
    padding: 0 1em;
    position: relative;
    line-height: 50px;
  }

  .vcon-arrow-right2 {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 50% 50%;
    transition: transform .2s ease-in-out;
  }

  &.is-opened {
    .vcon-arrow-right2 {
      transform: rotateZ(90deg) translateX(-50%);
    }
  }
}