.vc-background-end{
  background: rgb(255, 73, 73)
}
.vc-background-start{
  background: rgb(19, 206, 102);
}
.vc-switch {

  display: inline-block;
  border-radius: 14px;
  position: relative;
  transition: all 0.5s ease;

  &-items {
    display: flex;
    align-items: center;
    position: relative;
  }

  &-item {
    font-size: 12px;
    line-height: 20px;
    padding: 4px 10px;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.5s ease;

    &.active {
      color: #FFF;
    }
  }

  &-active-bg {
    background-color: #2d8cf0;
    height: 28px;
    border-radius: 14px;
    position: absolute;
    top: 0;

    &.transition {
      transition: all 0.5s ease;
    }
  }
}

