// 类名前缀

$prefix: vc;

//尺寸
$fs-26: 26px;
$fs-25: 25px;
$fs-24: 24px;
$fs-23: 23px;
$fs-23: 23px;
$fs-22: 22px;
$fs-21: 21px;
$fs-20: 20px;
$fs-19: 19px;
$fs-18: 18px;
$fs-17: 17px;
$fs-16: 16px;
$fs-15: 15px;
$fs-14: 14px;
$fs-13: 13px;
$fs-12: 12px;
$fs-11: 11px;
$fs-10: 10px;
$fs-9: 9px;
$fs-8: 8px;
$fs-7: 7px;
$fs-6: 6px;
$fs-5: 5px;
$fs-4: 4px;
$fs-3: 3px;
$fs-2: 2px;
$fs-1: 1px;
$fs-0: 0px;


// 常用颜色

$blue-color: #5575c8 !default;
$blue-color__lighten: lighten($blue-color, 10%) !default;
$blue-color__darken: darken($blue-color, 10%) !default;

$green-color: #63ce63 !default;
$green-color__lighten: lighten($green-color, 10%) !default;
$green-color__darken: darken($green-color, 10%) !default;

$orange-color: #ffbf2f !default;
$orange-color__lighten: lighten($orange-color, 10%) !default;
$orange-color__darken: darken($orange-color, 10%) !default;

$red-color: #e52b20 !default;
$red-color__lighten: lighten($red-color, 10%) !default;
$red-color__darken: darken($red-color, 10%) !default;

$white-color: #ffffff !default;
$black-color: #353c42 !default;
$dark-color: #ccced0 !default;
$grey-color: #ececee !default;
$light-color: #f9f9fb !default;

// 主色

$primary-color: $blue-color !default;
$primary-color__lighten: lighten($primary-color, 10%) !default;
$primary-color__darken: darken($primary-color, 10%) !default;

// 语义色

$error-color: $red-color !default;
$warning-color: $orange-color !default;
$info-color: $blue-color !default;
$success-color: $green-color !default;

// 字体

$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

// 字号和行高

$heading-super-font-size: 40px !default;
$heading-super-line-height: 48px !default;

$heading-large-font-size: 32px !default;
$heading-large-line-height: 40px !default;

$heading-middle-font-size: 27px !default;
$heading-middle-line-height: 32px !default;

$heading-small-font-size: 19px !default;
$heading-small-line-height: 27px !default;

$bold-large-font-size: 16px !default;
$bold-large-line-height: 27px !default;

$bold-middle-font-size: 14px !default;
$bold-middle-line-height: 16px !default;

$bold-small-font-size: 11px !default;
$bold-small-line-height: 16px !default;

$regular-large-font-size: 16px !default;
$regular-large-line-height: 27px !default;

$regular-middle-font-size: 14px !default;
$regular-middle-line-height: 16px !default;

$regular-small-font-size: 12px !default;
$regular-small-line-height: 16px !default;

$paragraph-font-size: 20px !default;
$paragraph-line-height: 32px !default;

// 边框

$border-color: #DCDFE6 !default;
$border-color__lighten: lighten($blue-color, 10%) !default;
$border-color__darken: darken($blue-color, 10%) !default;

// 阴影

$box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
$box-shadow-lighten: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;
$box-shadow-darken: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;

// cursor
$cursor-disabled: not-allowed !default;

// 按钮

$button-border-size: 0 !default;
$button-border-style: solid !default;
$button-border-color: $blue-color !default;
$button-border-radius: 4px !default;
$button-border-box-shadow: 0px 1px 2px rgba(0, 0, 0, .12) !default;
$button-font-size: 14px !default;
$button-line-height: 1 !default;
$button-padding: 10px 18px !default;

$button-background-color-info: $info-color;
$button-background-color-success: $success-color;
$button-background-color-warning: $warning-color;
$button-background-color-error: $error-color;

$button-padding-large: 12px 20px;
$button-font-size-large: 16px;
$button-padding-middle: $button-padding;
$button-font-size-middle: 14px;
$button-padding-small: 6px 10px;
$button-font-size-small: 12px;

// 模态框 Modal

$modal-box-shadow: $box-shadow;
$modal-border-radius: 4px;
$modal-padding: 6px 16px;
$modal-min-width: 300px;
$modal-body-min-height: 60px;
