// 类名前缀

$prefix: v;

// 常用颜色

// 默认
$color-primary: #409eff !default;

// 成功
$color-success: #67c23a !default;

// 警告
$color-warning: #e6a23c !default;

// 失败
$color-danger: #f56c6c !default;

// 禁用
$color-disabled: #C0C4CC !default;


$white-color: #ffffff !default;
$black-color: #353c42 !default;
$dark-color: #ccced0 !default;
$grey-color: #ececee !default;
$light-color: #f9f9fb !default;

// 主色
$primary-color: $color-primary !default;

// 语义色
$error-color: $color-danger !default;
$warning-color: $color-warning !default;
$info-color: $color-primary !default;
$success-color: $color-success !default;

// 字体

$font-color: $black-color !default;

$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

// 字号和行高

$heading-super-font-size: 40px !default;
$heading-super-line-height: 48px !default;

$heading-large-font-size: 32px !default;
$heading-large-line-height: 40px !default;

$heading-middle-font-size: 26px !default;
$heading-middle-line-height: 32px !default;

$heading-small-font-size: 20px !default;
$heading-small-line-height: 26px !default;

$bold-large-font-size: 16px !default;
$bold-large-line-height: 26px !default;

$bold-middle-font-size: 14px !default;
$bold-middle-line-height: 16px !default;

$bold-small-font-size: 12px !default;
$bold-small-line-height: 16px !default;

$regular-large-font-size: 16px !default;
$regular-large-line-height: 27px !default;

$regular-middle-font-size: 14px !default;
$regular-middle-line-height: 16px !default;

$regular-small-font-size: 12px !default;
$regular-small-line-height: 16px !default;

$paragraph-font-size: 20px !default;
$paragraph-line-height: 32px !default;

// 边框

$border-color: #DCDFE6 !default;

// 阴影

$box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
$box-shadow-lighten: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;
$box-shadow-darken: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;

// cursor

$cursor-disabled: not-allowed !default;

// 按钮

$button-border-radius: 4px !default;
$button-box-shadow: 0px 1px 2px rgba(0, 0, 0, .12) !default;
$button-line-height: 1 !default;

$button-large-padding: 12px 20px !default;
$button-large-font-size: 16px !default;
$button-middle-padding: 10px 18px !default;
$button-middle-font-size: 14px !default;
$button-small-padding: 6px 10px !default;
$button-small-font-size: 12px !default;

$button-background-color-info: $info-color;
$button-background-color-success: $success-color;
$button-background-color-warning: $warning-color;
$button-background-color-error: $error-color;

// 模态框 Modal

$modal-box-shadow: $box-shadow;
$modal-border-radius: 4px;
$modal-padding: 6px 16px;
$modal-min-width: 300px;
$modal-body-min-height: 60px;
