@import "transition";
@import "variables";


@import "./components/icon";
@import './components/layout.scss';
@import "./components/slide-down";
@import "./components/button";

html, body {
  color: $black-color;
  font-family: $font-family;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

a {
  color: $black-color;
  text-decoration: none;
}

.heading-super {
  font-size: $heading-super-font-size;
  line-height: $heading-super-line-height;
}

.heading-large {
  font-size: $heading-large-font-size;
  line-height: $heading-large-line-height;
}

.heading-middle {
  font-size: $heading-middle-font-size;
  line-height: $heading-middle-line-height;
}

.heading-small {
  font-size: $heading-small-font-size;
  line-height: $heading-small-line-height;
}

.paragraph {
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.bd-t {
  border-top: 1px solid $grey-color;
}
