$icomoon-font-family: "vc-font" !default;
$icomoon-font-path: "vc-font/fonts" !default;

$vcon-home: "\e900";
$vcon-home2: "\e901";
$vcon-home3: "\e902";
$vcon-office: "\e903";
$vcon-newspaper: "\e904";
$vcon-pencil: "\e905";
$vcon-pencil2: "\e906";
$vcon-quill: "\e907";
$vcon-pen: "\e908";
$vcon-blog: "\e909";
$vcon-eyedropper: "\e90a";
$vcon-droplet: "\e90b";
$vcon-paint-format: "\e90c";
$vcon-image: "\e90d";
$vcon-images: "\e90e";
$vcon-camera: "\e90f";
$vcon-headphones: "\e910";
$vcon-music: "\e911";
$vcon-play: "\e912";
$vcon-film: "\e913";
$vcon-video-camera: "\e914";
$vcon-dice: "\e915";
$vcon-pacman: "\e916";
$vcon-spades: "\e917";
$vcon-clubs: "\e918";
$vcon-diamonds: "\e919";
$vcon-bullhorn: "\e91a";
$vcon-connection: "\e91b";
$vcon-podcast: "\e91c";
$vcon-feed: "\e91d";
$vcon-mic: "\e91e";
$vcon-book: "\e91f";
$vcon-books: "\e920";
$vcon-library: "\e921";
$vcon-file-text: "\e922";
$vcon-profile: "\e923";
$vcon-file-empty: "\e924";
$vcon-files-empty: "\e925";
$vcon-file-text2: "\e926";
$vcon-file-picture: "\e927";
$vcon-file-music: "\e928";
$vcon-file-play: "\e929";
$vcon-file-video: "\e92a";
$vcon-file-zip: "\e92b";
$vcon-copy: "\e92c";
$vcon-paste: "\e92d";
$vcon-stack: "\e92e";
$vcon-folder: "\e92f";
$vcon-folder-open: "\e930";
$vcon-folder-plus: "\e931";
$vcon-folder-minus: "\e932";
$vcon-folder-download: "\e933";
$vcon-folder-upload: "\e934";
$vcon-price-tag: "\e935";
$vcon-price-tags: "\e936";
$vcon-barcode: "\e937";
$vcon-qrcode: "\e938";
$vcon-ticket: "\e939";
$vcon-cart: "\e93a";
$vcon-coin-dollar: "\e93b";
$vcon-coin-euro: "\e93c";
$vcon-coin-pound: "\e93d";
$vcon-coin-yen: "\e93e";
$vcon-credit-card: "\e93f";
$vcon-calculator: "\e940";
$vcon-lifebuoy: "\e941";
$vcon-phone: "\e942";
$vcon-phone-hang-up: "\e943";
$vcon-address-book: "\e944";
$vcon-envelop: "\e945";
$vcon-pushpin: "\e946";
$vcon-location: "\e947";
$vcon-location2: "\e948";
$vcon-compass: "\e949";
$vcon-compass2: "\e94a";
$vcon-map: "\e94b";
$vcon-map2: "\e94c";
$vcon-history: "\e94d";
$vcon-clock: "\e94e";
$vcon-clock2: "\e94f";
$vcon-alarm: "\e950";
$vcon-bell: "\e951";
$vcon-stopwatch: "\e952";
$vcon-calendar: "\e953";
$vcon-printer: "\e954";
$vcon-keyboard: "\e955";
$vcon-display: "\e956";
$vcon-laptop: "\e957";
$vcon-mobile: "\e958";
$vcon-mobile2: "\e959";
$vcon-tablet: "\e95a";
$vcon-tv: "\e95b";
$vcon-drawer: "\e95c";
$vcon-drawer2: "\e95d";
$vcon-box-add: "\e95e";
$vcon-box-remove: "\e95f";
$vcon-download: "\e960";
$vcon-upload: "\e961";
$vcon-floppy-disk: "\e962";
$vcon-drive: "\e963";
$vcon-database: "\e964";
$vcon-undo: "\e965";
$vcon-redo: "\e966";
$vcon-undo2: "\e967";
$vcon-redo2: "\e968";
$vcon-forward: "\e969";
$vcon-reply: "\e96a";
$vcon-bubble: "\e96b";
$vcon-bubbles: "\e96c";
$vcon-bubbles2: "\e96d";
$vcon-bubble2: "\e96e";
$vcon-bubbles3: "\e96f";
$vcon-bubbles4: "\e970";
$vcon-user: "\e971";
$vcon-users: "\e972";
$vcon-user-plus: "\e973";
$vcon-user-minus: "\e974";
$vcon-user-check: "\e975";
$vcon-user-tie: "\e976";
$vcon-quotes-left: "\e977";
$vcon-quotes-right: "\e978";
$vcon-hour-glass: "\e979";
$vcon-spinner: "\e97a";
$vcon-spinner2: "\e97b";
$vcon-spinner3: "\e97c";
$vcon-spinner4: "\e97d";
$vcon-spinner5: "\e97e";
$vcon-spinner6: "\e97f";
$vcon-spinner7: "\e980";
$vcon-spinner8: "\e981";
$vcon-spinner9: "\e982";
$vcon-spinner10: "\e983";
$vcon-spinner11: "\e984";
$vcon-binoculars: "\e985";
$vcon-search: "\e986";
$vcon-zoom-in: "\e987";
$vcon-zoom-out: "\e988";
$vcon-enlarge: "\e989";
$vcon-shrink: "\e98a";
$vcon-enlarge2: "\e98b";
$vcon-shrink2: "\e98c";
$vcon-key: "\e98d";
$vcon-key2: "\e98e";
$vcon-lock: "\e98f";
$vcon-unlocked: "\e990";
$vcon-wrench: "\e991";
$vcon-equalizer: "\e992";
$vcon-equalizer2: "\e993";
$vcon-cog: "\e994";
$vcon-cogs: "\e995";
$vcon-hammer: "\e996";
$vcon-magic-wand: "\e997";
$vcon-aid-kit: "\e998";
$vcon-bug: "\e999";
$vcon-pie-chart: "\e99a";
$vcon-stats-dots: "\e99b";
$vcon-stats-bars: "\e99c";
$vcon-stats-bars2: "\e99d";
$vcon-trophy: "\e99e";
$vcon-gift: "\e99f";
$vcon-glass: "\e9a0";
$vcon-glass2: "\e9a1";
$vcon-mug: "\e9a2";
$vcon-spoon-knife: "\e9a3";
$vcon-leaf: "\e9a4";
$vcon-rocket: "\e9a5";
$vcon-meter: "\e9a6";
$vcon-meter2: "\e9a7";
$vcon-hammer2: "\e9a8";
$vcon-fire: "\e9a9";
$vcon-lab: "\e9aa";
$vcon-magnet: "\e9ab";
$vcon-bin: "\e9ac";
$vcon-bin2: "\e9ad";
$vcon-briefcase: "\e9ae";
$vcon-airplane: "\e9af";
$vcon-truck: "\e9b0";
$vcon-road: "\e9b1";
$vcon-accessibility: "\e9b2";
$vcon-target: "\e9b3";
$vcon-shield: "\e9b4";
$vcon-power: "\e9b5";
$vcon-switch: "\e9b6";
$vcon-power-cord: "\e9b7";
$vcon-clipboard: "\e9b8";
$vcon-list-numbered: "\e9b9";
$vcon-list: "\e9ba";
$vcon-list2: "\e9bb";
$vcon-tree: "\e9bc";
$vcon-menu: "\e9bd";
$vcon-menu2: "\e9be";
$vcon-menu3: "\e9bf";
$vcon-menu4: "\e9c0";
$vcon-cloud: "\e9c1";
$vcon-cloud-download: "\e9c2";
$vcon-cloud-upload: "\e9c3";
$vcon-cloud-check: "\e9c4";
$vcon-download2: "\e9c5";
$vcon-upload2: "\e9c6";
$vcon-download3: "\e9c7";
$vcon-upload3: "\e9c8";
$vcon-sphere: "\e9c9";
$vcon-earth: "\e9ca";
$vcon-link: "\e9cb";
$vcon-flag: "\e9cc";
$vcon-attachment: "\e9cd";
$vcon-eye: "\e9ce";
$vcon-eye-plus: "\e9cf";
$vcon-eye-minus: "\e9d0";
$vcon-eye-blocked: "\e9d1";
$vcon-bookmark: "\e9d2";
$vcon-bookmarks: "\e9d3";
$vcon-sun: "\e9d4";
$vcon-contrast: "\e9d5";
$vcon-brightness-contrast: "\e9d6";
$vcon-star-empty: "\e9d7";
$vcon-star-half: "\e9d8";
$vcon-star-full: "\e9d9";
$vcon-heart: "\e9da";
$vcon-heart-broken: "\e9db";
$vcon-man: "\e9dc";
$vcon-woman: "\e9dd";
$vcon-man-woman: "\e9de";
$vcon-happy: "\e9df";
$vcon-happy2: "\e9e0";
$vcon-smile: "\e9e1";
$vcon-smile2: "\e9e2";
$vcon-tongue: "\e9e3";
$vcon-tongue2: "\e9e4";
$vcon-sad: "\e9e5";
$vcon-sad2: "\e9e6";
$vcon-wink: "\e9e7";
$vcon-wink2: "\e9e8";
$vcon-grin: "\e9e9";
$vcon-grin2: "\e9ea";
$vcon-cool: "\e9eb";
$vcon-cool2: "\e9ec";
$vcon-angry: "\e9ed";
$vcon-angry2: "\e9ee";
$vcon-evil: "\e9ef";
$vcon-evil2: "\e9f0";
$vcon-shocked: "\e9f1";
$vcon-shocked2: "\e9f2";
$vcon-baffled: "\e9f3";
$vcon-baffled2: "\e9f4";
$vcon-confused: "\e9f5";
$vcon-confused2: "\e9f6";
$vcon-neutral: "\e9f7";
$vcon-neutral2: "\e9f8";
$vcon-hipster: "\e9f9";
$vcon-hipster2: "\e9fa";
$vcon-wondering: "\e9fb";
$vcon-wondering2: "\e9fc";
$vcon-sleepy: "\e9fd";
$vcon-sleepy2: "\e9fe";
$vcon-frustrated: "\e9ff";
$vcon-frustrated2: "\ea00";
$vcon-crying: "\ea01";
$vcon-crying2: "\ea02";
$vcon-point-up: "\ea03";
$vcon-point-right: "\ea04";
$vcon-point-down: "\ea05";
$vcon-point-left: "\ea06";
$vcon-warning: "\ea07";
$vcon-notification: "\ea08";
$vcon-question: "\ea09";
$vcon-plus: "\ea0a";
$vcon-minus: "\ea0b";
$vcon-info: "\ea0c";
$vcon-cancel-circle: "\ea0d";
$vcon-blocked: "\ea0e";
$vcon-cross: "\ea0f";
$vcon-checkmark: "\ea10";
$vcon-checkmark2: "\ea11";
$vcon-spell-check: "\ea12";
$vcon-enter: "\ea13";
$vcon-exit: "\ea14";
$vcon-play2: "\ea15";
$vcon-pause: "\ea16";
$vcon-stop: "\ea17";
$vcon-previous: "\ea18";
$vcon-next: "\ea19";
$vcon-backward: "\ea1a";
$vcon-forward2: "\ea1b";
$vcon-play3: "\ea1c";
$vcon-pause2: "\ea1d";
$vcon-stop2: "\ea1e";
$vcon-backward2: "\ea1f";
$vcon-forward3: "\ea20";
$vcon-first: "\ea21";
$vcon-last: "\ea22";
$vcon-previous2: "\ea23";
$vcon-next2: "\ea24";
$vcon-eject: "\ea25";
$vcon-volume-high: "\ea26";
$vcon-volume-medium: "\ea27";
$vcon-volume-low: "\ea28";
$vcon-volume-mute: "\ea29";
$vcon-volume-mute2: "\ea2a";
$vcon-volume-increase: "\ea2b";
$vcon-volume-decrease: "\ea2c";
$vcon-loop: "\ea2d";
$vcon-loop2: "\ea2e";
$vcon-infinite: "\ea2f";
$vcon-shuffle: "\ea30";
$vcon-arrow-up-left: "\ea31";
$vcon-arrow-up: "\ea32";
$vcon-arrow-up-right: "\ea33";
$vcon-arrow-right: "\ea34";
$vcon-arrow-down-right: "\ea35";
$vcon-arrow-down: "\ea36";
$vcon-arrow-down-left: "\ea37";
$vcon-arrow-left: "\ea38";
$vcon-arrow-up-left2: "\ea39";
$vcon-arrow-up2: "\ea3a";
$vcon-arrow-up-right2: "\ea3b";
$vcon-arrow-right2: "\ea3c";
$vcon-arrow-down-right2: "\ea3d";
$vcon-arrow-down2: "\ea3e";
$vcon-arrow-down-left2: "\ea3f";
$vcon-arrow-left2: "\ea40";
$vcon-circle-up: "\ea41";
$vcon-circle-right: "\ea42";
$vcon-circle-down: "\ea43";
$vcon-circle-left: "\ea44";
$vcon-tab: "\ea45";
$vcon-move-up: "\ea46";
$vcon-move-down: "\ea47";
$vcon-sort-alpha-asc: "\ea48";
$vcon-sort-alpha-desc: "\ea49";
$vcon-sort-numeric-asc: "\ea4a";
$vcon-sort-numberic-desc: "\ea4b";
$vcon-sort-amount-asc: "\ea4c";
$vcon-sort-amount-desc: "\ea4d";
$vcon-command: "\ea4e";
$vcon-shift: "\ea4f";
$vcon-ctrl: "\ea50";
$vcon-opt: "\ea51";
$vcon-checkbox-checked: "\ea52";
$vcon-checkbox-unchecked: "\ea53";
$vcon-radio-checked: "\ea54";
$vcon-radio-checked2: "\ea55";
$vcon-radio-unchecked: "\ea56";
$vcon-crop: "\ea57";
$vcon-make-group: "\ea58";
$vcon-ungroup: "\ea59";
$vcon-scissors: "\ea5a";
$vcon-filter: "\ea5b";
$vcon-font: "\ea5c";
$vcon-ligature: "\ea5d";
$vcon-ligature2: "\ea5e";
$vcon-text-height: "\ea5f";
$vcon-text-width: "\ea60";
$vcon-font-size: "\ea61";
$vcon-bold: "\ea62";
$vcon-underline: "\ea63";
$vcon-italic: "\ea64";
$vcon-strikethrough: "\ea65";
$vcon-omega: "\ea66";
$vcon-sigma: "\ea67";
$vcon-page-break: "\ea68";
$vcon-superscript: "\ea69";
$vcon-subscript: "\ea6a";
$vcon-superscript2: "\ea6b";
$vcon-subscript2: "\ea6c";
$vcon-text-color: "\ea6d";
$vcon-pagebreak: "\ea6e";
$vcon-clear-formatting: "\ea6f";
$vcon-table: "\ea70";
$vcon-table2: "\ea71";
$vcon-insert-template: "\ea72";
$vcon-pilcrow: "\ea73";
$vcon-ltr: "\ea74";
$vcon-rtl: "\ea75";
$vcon-section: "\ea76";
$vcon-paragraph-left: "\ea77";
$vcon-paragraph-center: "\ea78";
$vcon-paragraph-right: "\ea79";
$vcon-paragraph-justify: "\ea7a";
$vcon-indent-increase: "\ea7b";
$vcon-indent-decrease: "\ea7c";
$vcon-share: "\ea7d";
$vcon-new-tab: "\ea7e";
$vcon-embed: "\ea7f";
$vcon-embed2: "\ea80";
$vcon-terminal: "\ea81";
$vcon-share2: "\ea82";
$vcon-mail: "\ea83";
$vcon-mail2: "\ea84";
$vcon-mail3: "\ea85";
$vcon-mail4: "\ea86";
$vcon-amazon: "\ea87";
$vcon-google: "\ea88";
$vcon-google2: "\ea89";
$vcon-google3: "\ea8a";
$vcon-google-plus: "\ea8b";
$vcon-google-plus2: "\ea8c";
$vcon-google-plus3: "\ea8d";
$vcon-hangouts: "\ea8e";
$vcon-google-drive: "\ea8f";
$vcon-facebook: "\ea90";
$vcon-facebook2: "\ea91";
$vcon-instagram: "\ea92";
$vcon-whatsapp: "\ea93";
$vcon-spotify: "\ea94";
$vcon-telegram: "\ea95";
$vcon-twitter: "\ea96";
$vcon-vine: "\ea97";
$vcon-vk: "\ea98";
$vcon-renren: "\ea99";
$vcon-sina-weibo: "\ea9a";
$vcon-rss: "\ea9b";
$vcon-rss2: "\ea9c";
$vcon-youtube: "\ea9d";
$vcon-youtube2: "\ea9e";
$vcon-twitch: "\ea9f";
$vcon-vimeo: "\eaa0";
$vcon-vimeo2: "\eaa1";
$vcon-lanyrd: "\eaa2";
$vcon-flickr: "\eaa3";
$vcon-flickr2: "\eaa4";
$vcon-flickr3: "\eaa5";
$vcon-flickr4: "\eaa6";
$vcon-dribbble: "\eaa7";
$vcon-behance: "\eaa8";
$vcon-behance2: "\eaa9";
$vcon-deviantart: "\eaaa";
$vcon-500px: "\eaab";
$vcon-steam: "\eaac";
$vcon-steam2: "\eaad";
$vcon-dropbox: "\eaae";
$vcon-onedrive: "\eaaf";
$vcon-github: "\eab0";
$vcon-npm: "\eab1";
$vcon-basecamp: "\eab2";
$vcon-trello: "\eab3";
$vcon-wordpress: "\eab4";
$vcon-joomla: "\eab5";
$vcon-ello: "\eab6";
$vcon-blogger: "\eab7";
$vcon-blogger2: "\eab8";
$vcon-tumblr: "\eab9";
$vcon-tumblr2: "\eaba";
$vcon-yahoo: "\eabb";
$vcon-yahoo2: "\eabc";
$vcon-tux: "\eabd";
$vcon-appleinc: "\eabe";
$vcon-finder: "\eabf";
$vcon-android: "\eac0";
$vcon-windows: "\eac1";
$vcon-windows8: "\eac2";
$vcon-soundcloud: "\eac3";
$vcon-soundcloud2: "\eac4";
$vcon-skype: "\eac5";
$vcon-reddit: "\eac6";
$vcon-hackernews: "\eac7";
$vcon-wikipedia: "\eac8";
$vcon-linkedin: "\eac9";
$vcon-linkedin2: "\eaca";
$vcon-lastfm: "\eacb";
$vcon-lastfm2: "\eacc";
$vcon-delicious: "\eacd";
$vcon-stumbleupon: "\eace";
$vcon-stumbleupon2: "\eacf";
$vcon-stackoverflow: "\ead0";
$vcon-pinterest: "\ead1";
$vcon-pinterest2: "\ead2";
$vcon-xing: "\ead3";
$vcon-xing2: "\ead4";
$vcon-flattr: "\ead5";
$vcon-foursquare: "\ead6";
$vcon-yelp: "\ead7";
$vcon-paypal: "\ead8";
$vcon-chrome: "\ead9";
$vcon-firefox: "\eada";
$vcon-IE: "\eadb";
$vcon-edge: "\eadc";
$vcon-safari: "\eadd";
$vcon-opera: "\eade";
$vcon-file-pdf: "\eadf";
$vcon-file-openoffice: "\eae0";
$vcon-file-word: "\eae1";
$vcon-file-excel: "\eae2";
$vcon-libreoffice: "\eae3";
$vcon-html-five: "\eae4";
$vcon-html-five2: "\eae5";
$vcon-css3: "\eae6";
$vcon-git: "\eae7";
$vcon-codepen: "\eae8";
$vcon-svg: "\eae9";
$vcon-IcoMoon: "\eaea";

