.doc-button {
  .ghost{
    background-color: #282828;
    padding: 1em 0;
    margin-top: 1em;
  }
  .block{
    margin-top: 1em;
  }
  .v-button {
    margin-left: 1em;
  }
  .v-button__long{
    margin: 0;
  }
}
