.vc-icon_box {
  margin-bottom: 20px;
  .vc-icon_item {
    position: relative;
    display: inline-block;
    width: 16.666%;
    height: 120px;
    margin-top: -1px;
    transition: all .2s;
    cursor: pointer;
    &:hover {
      color: #409eff;
    }
    .vc-icon_item-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .vc-icon_text {
        margin-top: 8px;
        color: #99a9bf; 
      }
    }
  }
}
