.doc-layout1{
  .vc-container,
  .vc-header,
  .vc-footer,
  .vc-aside,
  .vc-main{
    color: #FFF;
    text-align: center;
  }
  .vc-header,
  .vc-footer{
    background-color: #7CBCE9;
    line-height: 50px;
  }
  .vc-aside{
    background-color: #3a9fe8;
    line-height: 120px;
    padding: 0 20px;
  }
  .vc-container,
  .vc-main{
    background-color: #0f8de9;
    line-height: 120px;
  }
  .vc-container + .vc-container{
    margin-top: 30px;
  }
}